.header{
	width: 1000px;
	height: 40px;
	background-color: gray;
}
.login{
	display: inline-block;
	padding: 10px;
	background-color: while;
}
.login2{
	display: inline-block;
	padding: 10px;
	font-size: 10px;
}
.center{
	padding-top: 50px;
	padding-bottom: 50px;
}
.td{
	border: 1px solid black;
	width: 150px;
}
.footer{
	width: 1000px;
	height: 40px;
	background-color: gray;
}
.hoge{
	display: inline-block;
	padding: 10px;
	background-color: while;
}